name: Deploy to Salesforce

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Salesforce CLI
        run: npm install --global sfdx-cli

      - name: Authenticate with Salesforce
        run: |
          echo "${{ secrets.SF_LOGIN_URL }}"
          echo "${{ secrets.SF_USERNAME }}"
          echo "${{ secrets.SF_PASSWORD }}"
          echo "${{ secrets.SF_CLIENT_ID }}"

          sfdx force:auth:username:login --server=https://login.salesforce.com --username=nanwaniricha173@agentforce.com --password=test@123nz53sUkoj5c8ybLrZKiEoDhZD --clientid=3MVG9dAEux2v1sLvr_B.isGTTzQYOYpdRkg03gpsiKzt70Kfw1y4inXsO7MsBixNmTSXyqIhJ5qsPuBrAEUaa 

      - name: Deploy source to org
        run: sfdx force:source:deploy -p force-app --json --loglevel fatal