name: Deploy to Salesforce

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Salesforce CLI
        run: npm install --global sfdx-cli

      - name: Authenticate with Salesforce
        run:
          echo "${{secrets.SF_JWT_KEY}}" > server.key
          sfdx force:auth:jwt:grant \
            --clientid ${{ secrets.SF_CONSUMER_KEY }} \
            --jwtkeyfile server.key \
            --username ${{ secrets.SF_USERNAME }} \
            --instanceurl https://login.salesforce.com \
            --setdefaultusername 
          sfdx auth:list

      - name: Verify Auth
        run:
          sfdx force:org:display --targetusername ${{ secrets.SFDC_USERNAME }}

      - name: Deploy Code
        run: sfdx force:source:deploy --sourcepath force-app --targetusername ${{ secrets.SFDC_USERNAME }} --wait 10