name: Deploy to Salesforce

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Salesforce CLI
        run: npm install --global sfdx-cli

      - name: Authenticate with Salesforce
        run: |
          sfdx force:auth:web:login 
            -r ${{ secrets.SF_LOGIN_URL }} 
            -u ${{ secrets.SF_USERNAME }} 
            -p ${{ secrets.SF_PASSWORD }} 
            -c ${{ secrets.SF_CLIENT_ID }}

      - name: Deploy source to org
        run: sfdx force:source:deploy -p force-app --json --loglevel fatal